body {
  font-family: $sansFontFamily;
  font-size: $fontDefault;
  font-weight: 300;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:active {
  color: $ab-blue-400;
}

a:hover {
  text-decoration: underline;
}

.container-fluid--ab {
  background: $ab-grey-900;
}

.site-search {
  position: relative;
}

.ab-sm-row-flex {
  @media (min-width: $screen-sm-min) {
    display: flex;
  }
}

b,
strong,
label,
th {
  font-weight: 500;
}

// Override Bootstrap's font-weight: 500;
// font-weight: 400 works better with system fonts
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 400;
}
